.wrapper {
  padding: 0px 40px 40px 40px;
  margin-left: 220px;
  margin-top: 10vh;
}
.container{
  width: 60%;
  height: 60%;
}
.mat-mdc-card-header{
  background-color: #08783f;
  color:white;
  margin-bottom: 20px;
}
.email-row {
  display: flex;
  align-items: center;
}

.email-input {
  flex: 1;
  margin-right: 10px;
}

.delete-email {
  margin-top: 25px;
}

.add-email-btn {
  margin-top: 15px;
}