/* General styles */

.wrapper {
    padding: 0px 40px 40px 40px;
    margin-top: 88px;
    margin-left: 220px;
  }
  
  .document-link {
    color: #3f51b5;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .mat-elevation-z8 {
    margin: 20px 0;
  }
  