

.wrapper {
    padding: 0px 40px 40px 40px;
    margin-top: 88px;
    margin-left: 220px;
  }
  
  .container {
    padding: 0;
  }
  
  /* Search field styling */
  .search-field {
    width: 100%;
    margin-bottom: 24px;
  }
  
  /* Date picker section styling */
  .date-picker-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .date-picker-field {
    flex: 1;
    margin-right: 16px;
  }
  
  button.mat-raised-button {
    margin-left: 16px;
  }
  
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: var(--rounded-corners) !important;
    border: 1px solid var(--mdc-outlined-text-field-outline-color) !important;
    background-color: white !important;
  }
  ::ng-deep
    .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    border-bottom-color: var(--mdc-filled-text-field-active-indicator-color);
    border: none;
  }
  
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  
  ::ng-deep
    .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::after {
    border-bottom-color: #08783f !important;
  }
  
  ::ng-deep
    .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label--float-above {
    color: #08783f !important;
  }
  
  ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: var(--rounded-corners) !important;
  }
  
  #monthlyReportsTable {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: var(--rounded-corners);
    & table {
      background: none;
  
      a {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 20px;
        border: 1px solid #08783f;
        color: #08783f;
        background-color: transparent;
        font-weight: 500;
        transition-duration: 200ms;
        transition-property: background-color, color;
  
        &:hover {
          background-color: #08783f;
          color: white;
        }
      }
    }
  
    & thead {
      background-color: var(--bg-color);
      & * {
        text-align: left;
        border: none;
        text-wrap: nowrap;
      }
      & tr {
        & th {
          padding: 10px 10px;
        }
        & th:first-child {
          padding-left: 25px;
        }
        & th:last-child {
          padding-right: 25px;
        }
      }
      &:has(+ tbody > tr) > tr > th {
        padding-top: 15px;
        padding-bottom: 25px;
      }
    }
  
    & tbody {
      background: none;
  
      & * {
        border-color: var(--bg-color);
      }
      & tr {
        &:first-child {
          & td:first-child {
            border-radius: var(--topleft-rounded-corner);
          }
          & td:last-child {
            border-radius: var(--topright-rounded-corner);
          }
        }
        &:last-child {
          & td:first-child {
            border-radius: var(--bottomleft-rounded-corner);
          }
          & td:last-child {
            border-radius: var(--bottomright-rounded-corner);
          }
        }
        & td {
          background-color: white;
          padding: 10px;
        }
  
        & td:first-child {
          padding-left: 25px;
        }
        & td:last-child {
          padding-right: 25px;
        }
      }
    }
  }
  
  /* Table container styling */
  .table-container {
    display: flex;
    flex-direction: column;
  }
  
  /* Table styling */
  table.mat-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
  }
  
  th.mat-header-cell {
    background-color: #e0e0e0;
    color: #000;
    font-weight: 600; /* Increased weight for better header prominence */
    padding: 12px 16px;
  }
  
  td.mat-cell {
    padding: 12px 16px;
  }
  
  tr.mat-row:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tr.mat-row:nth-child(even) {
    background-color: #fff;
  }
  
  /* Pagination styling */
  mat-paginator {
    margin: 24px 0;
  }
  
  /* Month and Year controls styling */
  .month-year-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .mat-form-field {
    width: 150px;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .month-year-controls {
      flex-direction: column;
    }
  
    .mat-form-field {
      width: 100%;
    }
  
    .date-picker-container {
      flex-direction: column;
    }
  
    .date-picker-field {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
  
  /* Hide the print header in screen view */
  .print-header {
    display: none;
  }
  
  /* Show the print header only in print view */
  
  
  ::ng-deep .mat-mdc-paginator-container {
    padding: 0 !important;
  }
  
  



.container {
  padding: 0;
}

/* Search field styling */
.search-field {
  width: 100%;
  margin-bottom: 24px;
}

/* Date picker section styling */
.date-picker-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.date-picker-field {
  flex: 1;
  margin-right: 16px;
}

button.mat-raised-button {
  margin-left: 16px;
}

/* Text field styling */
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: var(--rounded-corners) !important;
  border: 1px solid var(--mdc-outlined-text-field-outline-color) !important;
  background-color: white !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--mdc-filled-text-field-active-indicator-color);
  border: none;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: #08783f !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label,
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label--float-above {
  color: #08783f !important;
}

::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: var(--rounded-corners) !important;
}

.mat-elevation-z8-container {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--rounded-corners);
  & .mat-elevation-z8 {
    background: none;
    box-shadow: none;
    a {
      text-decoration: none;
      padding: 5px 15px;
      border-radius: 20px;
      border: 1px solid #08783f;
      color: #08783f;
      background-color: transparent;
      font-weight: 500;
      transition-duration: 200ms;
      transition-property: background-color, color;
      cursor: pointer;

      &:hover {
        background-color: #08783f;
        color: white;
      }
    }
  }

  & .mat-mdc-header-row {
    background-color: var(--bg-color);
    & * {
      text-align: left;
      border: none;
      text-wrap: nowrap;
    }

    &:has(+ .mat-mdc-row) {
      padding-bottom: 5px;
    }
  }

  & .mat-mdc-row {
    background-color: white;
    overflow: hidden;
    & * {
      border-color: var(--bg-color);
    }
  }

  & .mat-mdc-row:nth-child(2) {
    border-radius: 8px 8px 0 0;
  }

  & .mat-mdc-row:nth-last-child(1) {
    border-radius: 0 0 8px 8px;
  }
}

/* Table styling */
table.mat-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background-color: var(--bg-color);
}

th.mat-header-cell {
  background-color: #e0e0e0;
  color: #000;
  font-weight: 600; /* Increased weight for better header prominence */
  padding: 12px 16px;
}

td.mat-cell {
  padding: 12px 16px;
}

tr.mat-row:nth-child(odd) {
  background-color: #f9f9f9;
}

tr.mat-row:nth-child(even) {
  background-color: #fff;
}

/* Link styling */
.document-link {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid #08783f;
  color: #08783f;
  font-weight: 500;
  transition: background-color 200ms, color 200ms;
}

.document-link:hover {
  background-color: #08783f;
  color: white;
}

#receiverModal {
  border-radius: 30px;
}
