<div class="wrapper">
  <div class="container dashboard-container">
    <mat-card>
      <mat-card-header> </mat-card-header>
      <div class="container">
        <!-- Row of Mat-Cards -->
        <div class="row-cards">
          <mat-card class="small-card" *ngFor="let card of rowCards">
            <mat-card-header>
              <mat-card-title>{{ card.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ card.content }}</p>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Two Big Cards Below -->
        <div class="big-cards">
          <mat-card class="big-card">
            <mat-card-header>
              <mat-card-title>Recent Notifications</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Table content here.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="big-card">
            <mat-card-header>
              <mat-card-title>Recent Something</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Table man diri.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
